body {
  margin: 0;
  background: linear-gradient(to bottom, #FCFCFC, #F2F2F2);
  overflow: hidden;
  font-family: sans-serif;
}

#dot {
  width: 60px;
  height: 60px;
  background: black;
  border-radius: 50%;
  position: absolute;
  touch-action: manipulation;
}

#counter {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 18px;
  color: #666;
  user-select: none;
}

#donate {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #666;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.7;
}
